.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.columns {
  align-items: center;
}

.page-header {
  position: relative;
  height: 21em;
  border-bottom: none;
  margin-top: 40px;
}

.page-header h1 {
  position: relative;
  top: 75%;
}

.backdrop,
.backdrop-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 27em;
  padding-bottom: 0;
  z-index: -1;
  border-radius: 10px 10px 0 0;
}

.backdrop-overlay {
  z-index: 0;
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(50%, rgba(255, 255, 255, 0.5)),
    color-stop(90%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(255, 255, 255, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1) 100%
  );
}

@media (prefers-color-scheme: dark) {
  .backdrop-overlay {
    z-index: 0;
    background: -moz-linear-gradient(
      top,
      rgba(21, 21, 21, 0) 0%,
      rgba(21, 21, 21, 0.5) 50%,
      rgba(21, 21, 21, 1) 90%,
      rgba(21, 21, 21, 1) 100%
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(21, 21, 21, 0)),
      color-stop(50%, rgba(21, 21, 21, 0.5)),
      color-stop(90%, rgba(21, 21, 21, 1)),
      color-stop(100%, rgba(21, 21, 21, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(21, 21, 21, 0) 0%,
      rgba(21, 21, 21, 0.5) 50%,
      rgba(21, 21, 21, 1) 90%,
      rgba(21, 21, 21, 1) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(21, 21, 21, 0) 0%,
      rgba(21, 21, 21, 0.5) 50%,
      rgba(21, 21, 21, 1) 90%,
      rgba(21, 21, 21, 1) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(21, 21, 21, 0) 0%,
      rgba(21, 21, 21, 0.5) 50%,
      rgba(21, 21, 21, 1) 90%,
      rgba(21, 21, 21, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(21, 21, 21, 0) 0%,
      rgba(21, 21, 21, 0.5) 50%,
      rgba(21, 21, 21, 1) 90%,
      rgba(21, 21, 21, 1) 100%
    );
  }
}

.search-bar {
  margin-bottom: 1em;
}

ul.flat {
  list-style-type: none;
  padding-left: 0;
}

ul.flat li {
  margin-bottom: 0.5em;
  display: flex;
  gap: 1em;
  align-items: center;
}

.copy-notice {
  display: none;
}

.no-poster {
  padding: 5em 1em;
}

.search-result {
  cursor: pointer;
  height: 220px;
  width: 150px;
  border: 3px solid transparent;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.search-result:hover {
  border: 3px solid var(--bulma-primary);
}

.no-poster-search-result {
  width: 150px;
}

.no-poster-image {
  height: 128px;
  margin-bottom: 34px;
}

.no-poster-search-result p {
  margin: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.copy-all-button {
  width: 20ch;
  margin: 1em auto 0 auto;
}

.footer {
  margin-top: 5em;
}
