.app {
  margin: 20px auto;
  height: calc(100vh - 40px);
}

.table td {
  border: none;
  background-color: transparent;
}

.table td.text-right {
  text-align: right;
}

.table th,
.table thead th {
  border: none;
}

.row {
  align-items: center;
  border: 1px solid transparent;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5em 0;
}

.alert {
  border-radius: 0;
}

.alert,
.btn-group {
  margin-bottom: 0 !important;
}

.page-header {
  position: relative;
  height: 20em;
  border-bottom: none;
}

.page-header h1 {
  position: relative;
  top: 60%;
}

.backdrop,
.backdrop-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 27em;
  padding-bottom: 0;
  z-index: -1;
  border-radius: 10px 10px 0 0;
}

.backdrop-overlay {
  z-index: 0;
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 75%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(75%, rgba(255, 255, 255, 0.5)),
    color-stop(90%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(255, 255, 255, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 75%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 75%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 75%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 75%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1) 100%
  );
  /* Removed legacy filter for IE */
}

.search-bar {
  margin-bottom: 1em;
}

.search-info {
  display: none;
}

ul.flat {
  list-style-type: none;
  padding-left: 0;
}

.copy-notice {
  display: none;
}

.episode {
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
}

.help-text {
  font-weight: normal;
  font-style: italic;
  margin-top: 0.5em;
}

.form-control[readonly] {
  cursor: default;
}

.no-poster {
  padding: 5em 1em;
}

.search-result {
  cursor: pointer;
  float: left;
  height: 220px;
  margin: 0.5em;
  padding: 0 !important;
  width: 150px;
}

.search-result:hover {
  background: #c2ffc4;
  box-shadow: 0 0 5px 2px #bce8f1;
}

.no-poster-search-result {
  width: 150px;
}

.no-poster-image {
  height: 128px;
  margin-bottom: 34px;
}

.no-poster-search-result p {
  margin: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.blue {
  color: #428bca;
}

.btn-group {
  margin-bottom: 1em;
}

.copy-ok {
  float: left;
  margin-top: 0.5em;
  display: none;
  color: #3c763d;
}

.no-padding {
  padding: 0;
}

.copy-all-button {
  width: 20ch;
  margin: 1ch auto;
}
